{% assign app_url = shop.metafields.aaxis_streamline.aaxis_streamline_appUrl | default: '' %}
{% assign store = shop.domain | default: '' %}
{% assign current_locale = request.locale.iso_code %}
{% assign base_path = '/apps/customer-account/company-management/ship-to-locations' %}
{% if current_locale == 'en' %}
  {% assign localized_url = base_path %}
{% else %}
  {% assign localized_url = '/' | append: current_locale | append: base_path %}
{% endif %}

<a
  href="{{ localized_url }}"
  class="company-management-wrapper"
  style="display: none;"
  data-app-url="{{ app_url }}"
  data-store="{{ store }}"
>
  {% render 'icon-company-management' %}

  <p>{{ block.settings.company_management_label }}</p>
</a>

{% schema %}
{
  "name": "t:company_management_block.name",
  "target": "section",
  "javascript": "company-management-block.js",
  "settings": [
    {
      "type": "text",
      "id": "company_management_label",
      "label": "t:company_management_block.settings.company_management_label",
      "default": "t:company_management_block.defaults.company_management_label"
    }
  ]
}
{% endschema %}
