{% assign app_url = shop.metafields.aaxis_streamline.aaxis_streamline_appUrl | default: '' %}
{% assign store = shop.domain | default: '' %}

<script>
  window.Shopify = window.Shopify || {};
  window.Shopify.theme = window.Shopify.theme || {};
  window.Shopify.theme.settings = {
    selector_groups: {{ block.settings.selector_groups | json }}
  };
</script>

<div
  class="customer-partner-number-block"
  data-customer-partner-number-text="{{ block.settings.customer_partner_number_label }}"
  style="display: none;"
  data-app-url="{{ app_url }}"
  data-store="{{ store }}"
></div>

{% schema %}
{
  "name": "t:customer_partner_number.name",
  "target": "head",
  "javascript": "customer-partner-number-block.js",
  "settings": [
    {
      "type": "textarea",
      "id": "selector_groups",
      "label": "t:customer_partner_number.settings.selector_groups",
      "default": "{\n  \"home-featured-products-section\": {\n    \"container\": \".featured-products-slider .product-card-box\",\n    \"sku_link\": \".featured-products-slider .product-card-box .product-card-information a\",\n    \"insert_position\": \".featured-products-slider .product-card-information\"\n  },\n  \"home-featured-plumbing-products-section\": {\n    \"container\": \".featured-plumbing-products-wrapper\",\n    \"sku_link\": \".product-card-information a\",\n    \"insert_position\": \".featured-plumbing-products-wrapper .product-card-information\"\n  },\n  \"plp\": {\n    \"container\": \".product-card-wrapper\",\n    \"sku_link\": \".card__content .card__information .card__heading a\",\n    \"insert_position\": \".card__content .card__information .card-information\"\n  },\n  \"pdp\": {\n    \"container\": \".product__info-wrapper\",\n    \"sku_link\": \".product__title a\",\n    \"insert_position\": \".price\"\n  },\n  \"cart\": {\n    \"container\": \".cart__contents #main-cart-items tbody .cart-item\",\n    \"sku_link\": \".cart-item__details a\",\n    \"insert_position\": \".cart-item .product-option\"\n  }\n}",
      "info": "t:customer_partner_number.settings.selector_groups_info"
    },
    {
      "type": "text",
      "id": "customer_partner_number_label",
      "label": "t:customer_partner_number.settings.customer_partner_number_label",
      "default": "t:customer_partner_number.defaults.customer_partner_number_label"
    }
  ]
}
{% endschema %}
