{% assign app_url = shop.metafields.aaxis_streamline.aaxis_streamline_appUrl | default: '' %}
{% assign store = shop.domain | default: '' %}

<a
  href="#"
  class="price-list-wrapper"
  onclick="handlePriceListDownload(event)"
  data-app-url="{{ app_url }}"
  data-store="{{ store }}"
>
  {% render 'icon-download' %}

  <p>{{ block.settings.price_list_label }}</p>
</a>

{% schema %}
{
  "name": "t:price_list_block.name",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "price_list_label",
      "label": "t:price_list_block.settings.price_list_label",
      "default": "t:price_list_block.defaults.price_list_label"
    }
  ]
}
{% endschema %}

<script>
  async function handlePriceListDownload(event) {
    const appUrl = document.querySelector('.price-list-wrapper').getAttribute('data-app-url');

    const companyLocationId = localStorage.getItem('company-location-id');
    const storeName = localStorage.getItem('store-name');
    const customerId = localStorage.getItem('customer-id');

    if (!companyLocationId || !storeName || !customerId) {
      console.error('Required session storage values are missing');
      return;
    }

    const formatCompanyLocationId = `gid://shopify/CompanyLocation/${companyLocationId}`;
    const formatCustomerId = `gid://shopify/Customer/${customerId}`;

    const url = `${appUrl}/api/v1/product-variant/price-list/export`;

    try {
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'content-type': 'application/json',
          accept: '*/*',
        },
        body: JSON.stringify({
          storeName,
          companyLocationId: formatCompanyLocationId,
          customerId: formatCustomerId,
        }),
      });

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }

      const disposition = response.headers.get('Content-Disposition');

      let filename;
      if (disposition && disposition.includes('filename=')) {
        filename = disposition.split('filename=')[1].replace(/"/g, '');
      } else {
        filename = `price-list.xlsx`;
      }

      const blob = await response.blob();

      const downloadUrl = window.URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.style.display = 'none';
      a.href = downloadUrl;
      a.download = filename;
      document.body.appendChild(a);
      a.click();
      window.URL.revokeObjectURL(downloadUrl);
      document.body.removeChild(a);
    } catch (error) {
      console.error('Error downloading price list:', error);
    }
  }
</script>
