<a href="{{ block.settings.shopping_lists_link }}" class="shopping-lists-wrapper">
  {% render 'icon-shopping-lists' %}
</a>

{% schema %}
{
  "name": "t:shopping_lists_block.name",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "shopping_lists_label",
      "label": "t:shopping_lists_block.settings.shopping_lists_label",
      "default": "t:shopping_lists_block.defaults.shopping_lists_label"
    },
    {
      "type": "text",
      "id": "shopping_lists_link",
      "label": "t:shopping_lists_block.settings.shopping_lists_link",
      "default": "t:shopping_lists_block.defaults.shopping_lists_link"
    }
  ]
}
{% endschema %}
